body {

  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1e0;
  text-align: center;
  padding: 20px;
}

ul.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline-block;
    padding: 5px;
    margin-left: 35px;
}

a:link {
    text-decoration: none;
  }

a.uppercase {
    text-transform: uppercase;
}

#id1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png");
    height: 200px;
    width: 100%;

}

* {
    box-sizing: border-box;
  }

#id2 {
    float: left;
    width: 33.33%;
    padding: 30px;
  }

#id3::after {
    content: "";
    clear: both;
    display: table;
  }