body {

  font-family: Arial, Helvetica, sans-serif;
  background-color: #ecf2f7;
  margin: 20px;
}

ul.menu {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: inline-block;
    padding: 5px;
    margin-left: 35px;
}

a:link {
    text-decoration: none;
  }

a.uppercase {
    text-transform: uppercase;
}

#banner {
    position: relative;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png");
    width: 100%;
    height: 500px;
}

/*place text over an image*/

.textonbanner {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:white

}

/*float property, it is easy to float boxes of content side by side*/
/* The box-sizing property allows to include the padding and border in an element's total width and height.*/

* {
    box-sizing: border-box;
  }

#id2 {
    float: left;
    width: 33.33%;
    padding: 30px;
  }


#id3::after {
    content: "";
    clear: both;
    display: table;
  }